<!DOCTYPE html>
<html lang="en">

<!-- Machine Code Section -->

<head>
    <title>🔥Simple Portfolio - FirstNameLastName🔥</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="../styles/mainStyle.css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<!-- Human Code Section -->

<body>
<div class="body">
    <div class="nav">
        <nav class="navbar bg-dark">
            <div class="container">
                <a href="index.html" class="navbar-brand text-light">Logo</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link text-light-emphasis">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="todolist.html" class="nav-link text-light-emphasis">
                            Todolist
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--  -->
    <div class="content container-fluid h-100">
        <div class="container h-100 ">
            <div class="row h-100 gradientBG">
                <div class="col-2 h-100">1</div>
                <div class="col-8 h-100">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-6 col-xxl-8 h-100 paragraphContent">
                            <div class="prg1">
                                <p class="display-6">
                                    My name is
                                    <code>
                                        <em>
                                            Othman Adi
                                        </em>
                                    </code>
                                </p>
                            </div>
                            <div class="prg2">
                                <p class="lead">
                                    Im a Web App developer, and i use the tech-stack of:
                                    <i class="bi bi-filetype-html"></i>
                                    <i class="bi bi-filetype-css"></i>
                                    <i class="bi bi-git"></i>
                                    <i class="bi bi-github"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-6 col-xxl-4 h-100">
                            <img
                                    src="https://picsum.photos/400"
                                    alt="Image of Developer"
                                    class="img-fluid rounded-circle mt-2">
                        </div>
                    </div>
                </div>
                <div class="col-2 h-100">3</div>
            </div>
        </div>
    </div>
    <!--  -->
    <footer class="footer fixed-bottom bg-light">
        <div class="container mt-3">
            <div class="row">
                <div class="col-8">
                    <div class="fs-3">Logo</div>
                </div>
                <div class="col">
                    <p class="text-muted">Made with ❤️ and ☕️</p>
                </div>
                <div class="col">
                    <p class="text-muted">By: FirstNameLastName</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>